[
    {"type":"holidayall","url":"http://api.domogeek.fr/holidayall/A/now","enable":true},
    {"type":"geolocation","url":"http://api.domogeek.fr/geolocation/saint-etienne","enable":true},
    {"type":"myip","url":"http://api.domogeek.fr/myip/json","enable":true},
    {"type":"ejpedf","url":"http://api.domogeek.fr/ejpedf/sud/tomorrow/json","enable":true},
    {"type":"holiday","url":"http://api.domogeek.fr/holiday/now/json","enable":true},
    {"type":"schoolholiday","url":"http://api.domogeek.fr/schoolholiday/A/now/json","enable":"true"},
    {"type":"sun","url":"http://api.domogeek.fr/sun/saint-etienne/all/now","enable":true},
    {"type":"tempoedf","url":"http://api.domogeek.fr/tempoedf/now/json","enable":true},
    {"type":"vigilance","url":"http://api.domogeek.fr/vigilance/42/all","enable":true},
    {"type":"pressure","url":"http://api.domogeek.fr/weather/saint-etienne/pressure/today/json","enable":true},
    {"type":"humidity","url":"http://api.domogeek.fr/weather/saint-etienne/humidity/today/json","enable":true},
    {"type":"windspeed","url":"http://api.domogeek.fr/weather/saint-etienne/windspeed/today/json","enable":true},
    {"type":"rain","url":"http://api.domogeek.fr/weather/saint-etienne/rain/today/json","enable":true},
    {"type":"weekend","url":"http://api.domogeek.fr/weekend/now/json","enable":true}
]